* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;

  justify-content: space-between;
  align-items: center;
}

.navbar img {
  object-fit: cover;
  width: 75px;
  height: auto;
  padding-left: 20px;
}

.ul-container {
  padding-right: 20px;
}

.ul-container > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.ul-container > ul > li {
  padding: 10px;
}

main {
  background-color: #151d3b;
  width: 100%;
}

.main-logo > img {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.main-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-titles > p,
h1 {
  font-size: 20px;
  color: white;
  text-align: center;
}

.h1-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.h1-titles > h1 {
  font-size: 75px;
}

.season-p {
  border-bottom: 2px solid rgb(109, 38, 48);
  padding-bottom: 5px;
}

.partidos-section {
  margin-top: 50px;
}

.partidos-categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid black;
}

.categorias-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.categorias-container > h2 {
  font-size: 30px;
}

.categorias-container > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.categorias-container > ul > li {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.categorias-container > ul > li:hover {
  color: rgb(109, 38, 48);
}

.partidos-categorias > button {
  margin-right: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 0;
  font-weight: bold;
  transition: 0.5s;
}

.partidos-categorias > button:hover {
  background-color: #ebe9e9;
}

h2,
h3 {
  text-align: left;
  padding: 10px;
}

.ol-fixture {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 0 30px 0 30px;
}

.ol-fixture > li {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  background-color: white;
  border: 0.5px solid rgb(161, 161, 161);
}

#fixture h2 {
  padding-left: 30px;
}

.news-section {
  background-color: #151d3b;
  margin-top: 40px;
}

.news-container {
  color: white;
}

.news-categorias {
  padding: 30px 30px 15px 30px;
}

.news-categorias > button {
  background-color: #1e274d;
  color: white;
  letter-spacing: 1px;
}

.news-categorias > button:hover {
  background-color: #4a5caf;
}

.news-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.news-texts-container {
  color: white;
  text-align: start;
}

.news-texts-container span {
  color: rgb(163, 34, 34);
  padding-left: 10px;
}

.news-texts-container h3 {
  font-size: 30px;
  letter-spacing: 1px;
}

.other-news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 20px 0 20px;
  text-align: start;
  gap: 20px;
  padding-bottom: 25px;
}

.other-items {
  text-align: center;
  margin-top: 30px;
}

.others h3 {
  font-size: 15px;
}

.news-img-container {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.news-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.news-img-container > img:hover {
  transform: scale(1.2);
}

.news-img-stadium {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-left: 20px;
}

.news-img-stadium > img {
  transition: 0.5s;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.news-img-stadium > img:hover {
  transform: scale(1.2);
}

footer {
  background-color: #2a3877;
  padding-bottom: 20px;
}

.footer-logo-container {
  display: flex;
  align-items: start;
  padding-left: 20px;
}

.footer-logo-container > img {
  width: 80px;
  padding: 10px;
}

.footer-logo-container ul {
  list-style: none;
  padding-left: 20px;
}

.footer-logo-container ul > li {
  color: #ccc;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 5px 0 5px 0;
  transition: 0.5s;
  cursor: pointer;
}

.footer-logo-container ul > li:hover {
  color: #f5f5f5;
  transform: scale(1.2);
}

.big-footer-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.follow-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.follow-div > h4 {
  font-size: 20px;
  color: #ccc;
  letter-spacing: 1px;
  border-right: 1.2px solid #ccc;
  padding-right: 12px;
}

.follow-div > ul {
  list-style: none;
  display: flex;
}

.follow-div > ul > li {
  color: #ccc;
  padding: 0 5px 0 5px;
  font-size: 20px;
  transition: 0.5s;
}

.follow-div > ul > li:hover {
  transform: scale(1.2);
}

.follow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 50px;
}

.copyright {
  color: #ccc;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 800;
  padding-right: 20px;
}
